<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.cadenaConexion" connectionString="Data Source=192.168.1.104:1521/ORCL;Persist Security Info=True;User ID=DESARROLLO;Password=oracle"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>